canvas {
	display: block;
	margin: 0 auto;
}
dialog {
	padding: 200px;
}
.containerbattlepass ul li {
	list-style-type: none;
	border: 1px solid black;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 5px;
	display: inline-block;
}
.containerbattlepass ul li h1 {
	position: relative;
	align-items: center;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	color: black;
	left: 0;
}
.containerbattlepass ul {
	top: 20px;
	position: absolute;
	left: 20px;
	padding-left: 100px;
}
.containerbattlepassnagradazabr ul {
	bottom: 20px;
	position: absolute;
	left: 20px;
	padding-left: 100px;
}
.containerbattlepassnagradazabr ul li {
	list-style-type: none;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 1px;
	cursor: pointer;
	display: inline-block;
}
.containerbattlepassnagradazabr ul li:hover {
	margin-right: 3px;
	margin-left: 3px;
	background-color: #f2f2f2;
}
.containerbattlepassnagradazabr ul li h1 {
	position: relative;
	align-items: center;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: black;
	left: 0;
}
.containerbattlepassnagrada ul {
	top: 40%;
	position: absolute;
	left: 20px;
	padding-left: 100px;
}
.containerbattlepassnagrada ul li {
	list-style-type: none;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 0px;
	display: inline-block;
}
.containerbattlepassnagrada ul li h1 {
	position: relative;
	align-items: center;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: black;
	left: 0;
}
.containerbattlepassnagrada ul li h1 {
	position: relative;
}
#open {
	top: 9%;
	left: 9%;
	position: absolute;
}
#rankidstats {
	padding: 200px 500px;
}
#showgameover {
	display: none;
}
#restart {
	display: none;
}
/*h1 {
	align-items: center;
	top: 10%;
	position: absolute;
	white-space: nowrap;
	left: 10%;
	font-family: Arial;
	font-size: 20px;
}*/
.textdlke {
	top: 10%;
	position: absolute;
	left: calc(50% - 200/2)
	align-items: center;
	white-space: nowrap;
	font-family: Arial;
	font-size: 20px;
}
#textplus {
/*	white-space: nowrap;*/
	font-family: Arial;
	font-size: 20px;
	position: absolute;
}
#rankedmatch {
/*	font-family: Arial;
	font-size: 20px;
	white-space: nowrap;
	left: 50%;
	top: 40%;
	position: absolute;*/
}
/* #main {
  display: none;	
  top: 1.2%;
  left: 0%;
  padding: 300px 190px 300px 190px;
  position: absolute;
}
#main h1 {
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
	left: 80%;
	top: 95%;
	position: absolute;
}
#main h2 {
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
	left: 30%;
	top: 5%;
	position: absolute;
}
#shopopen {
	cursor: pointer;
	top: 2%;
	left: 10%;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	position: absolute;
}*/
#baybp {
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	top: 10%;
	left: 20%;
	width: 1%;
	height: 1%;
	text-align: center;
	color: black;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial;
	position: absolute;
}
#bayblue {
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	top: 10%;
	left: 20%;
	text-align: center;
	color: blue;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial;
	position: absolute;
}
#bayred {
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	top: 10%;
	left: 60%;
	text-align: center;
	color: red;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial;
	position: absolute;
}
#baygreen {
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	top: 40%;
	left: 20%;
	text-align: center;
	color: green;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial;
	position: absolute;
}
#baygray {
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	top: 40%;
	left: 60%;
	text-align: center;
	color: gray;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial;
	position: absolute;
} 
#close {
	top: 2%;
	right: 2%;
	position: absolute;
}
#show {
	top: 5%;
	left: 10%;
	position: absolute;
}
#clos {
	top: 2%;
	right: 2%;
	position: absolute;
}
#gameovers {
	top: calc(25% -  100px/2);
	bottom: calc(100px/2);
	position: absolute;
}
#winrankpoint {
	align-items: center;
	white-space: nowrap;
	font-family: Arial;
	font-size: 15px;
}